<p id="notice"><%= notice %></p>

<h1>Daydrivers</h1>
<div class="media">
<div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Noofdelivery</th>
      <th>Chargerate</th>
      <th>Extrapay</th>
      <th>Dirvertotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%running_total = 0 %>
    <% @daydrivers.each do |daydriver| %>
      <tr>
        <td><%= daydriver.name %></td>
        <td><%= daydriver.phone %></td>
        <td><%= daydriver.noofdelivery %></td>
        <td><%= daydriver.chargerate %></td>
        <td><%= daydriver.extrapay %></td>
        <td><%= daydriver.extrapay+(daydriver.chargerate * daydriver.noofdelivery)%></td>
        <td><%= link_to 'Show', daydriver , class:'btn btn-mini btn-default' %></td>
        <td><%= link_to 'Edit', edit_daydriver_path(daydriver) , class:'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', daydriver, method: :delete, class:'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%running _total = running_total + ( daydriver.extrapay+(daydriver.chargerate * daydriver.noofdelivery)) %>
    <% end %>
  </tbody>
  </div>
  </div>
</table>

<br>
<h4 class="pull-right"> Total Payment to Drivers:<%=running_total %></h4>h4>
<%= link_to 'New Daydriver', new_daydriver_path %>
